body {
    background-image: url('./../../design.jpg');
    background-size: cover;
    
    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: source-han-sans-japanese, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    width: 90%;
    float: left;
    opacity: 0.5;
}

header {
    /* position: fixed; */
    /* margin-right: 152px; */
    background: white;
    border-bottom: 2px solid #0198B2;
    padding: 10px;
}

a.logo img {
    width: 315px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.menu-row {
    text-align: right !important;
}


/* Sub Menu */

.sub-menu {
    list-style: none;
    margin-bottom: 10px;
}

.sub-menu li {
    display: inline;
    padding: 0px 15px;
}

.sub-menu li a {
    color: #555;
    font-weight: bold;
    font-size: 12px;
}

.sub-menu li a i {
    color: #0198B2;
}


/* Desktop Navigation */

.nav-menu {
    padding-top: 0px;
    margin-right: 50px;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
    width: fit-content;
    float: right;
}

.nav-menu>ul>li:not(:last-child) {
    position: relative;
    white-space: nowrap;
    padding: 0px 25px 0px 25px;
}

.nav-menu>ul>li:not(:last-child) {
    border-right: 2px solid #ccc;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #333;
    transition: 0.3s;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 3px 0px 3px;
}

nav a.btn {
    background: #C33B3B;
    width: 197px;
    height: 54px;
    padding: 17px 0px !important;
}

.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #0198B2;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu .active>a {
    font-weight: bold;
}

.nav-menu li:hover>a {
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 26px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.nav-menu .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #062b5b;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
    color: #0198B2;
}

.nav-menu .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down>a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover>ul {
        left: -100%;
    }
    .nav-menu .drop-down .drop-down>a:after {
        content: "\ea9d";
    }
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #222222;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #222222;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #0198B2;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

#hero {
    /* margin-top: 80px; */
}

#hero h1 {
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 5px #aaa;
    margin-top: 170px;
    font-size: 4.5rem;
}

#hero h1 p {
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 5px #aaa;
    font-size: 18px;
    margin-top: 7px;
}

#hero .hero-bg {
    background-image: url('../images/home-bg.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    height: 393px;
}

#hero .opt-bar {
    background-color: #1C689C;
    padding: 12px;
}

#hero .opt-bar ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    margin: 0px auto;
    margin-top: 6px;
}

#hero .opt-bar ul li {
    display: inline-block;
    color: #fff;
    padding: 2px 12px;
    width: fit-content;
    font-size: 13px;
}

#hero .opt-bar ul li.active {
    background: #000;
    border-radius: 50px;
}

h4.section-title {
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}

p.sub-title {
    width: 100%;
    text-align: center;
}

.divider {
    width: 41px;
    height: 3.5px;
    background: #057980;
    margin: 0 auto;
    margin-top: 10px;
}

section#whats-new {
    padding-top: 50px;
    padding-bottom: 40px;
}

ul.whats-new {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
    padding-left: 72px;
}

ul.whats-new li {
    padding: 12px 0;
    border-bottom: 2.5px solid #eee;
    height: 47px;
}

ul.whats-new li .date {
    color: #888;
    float: left;
    font-size: 12px;
}

ul.whats-new li .tag {
    color: #000;
    float: left;
    font-size: 12px;
    background: #EFF3F6;
    border-radius: 50px;
    padding: 2px 9px;
    font-weight: bold;
    /* box-shadow: 0px 2px 3px #ccc; */
    margin-left: 15px;
    margin-top: -3px;
    border: 1.5px solid #ccc;
}

ul.whats-new li .detail {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-left: 75px;
    float: left;
    margin-top: -2px;
}

.btn {
    border-radius: 50px;
    padding: 0.675rem 1.2rem;
    font-size: 12px;
    font-weight: bold;
}

.btn-primary {
    background-color: #057980;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #025E64;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

#whats-new .btn-primary {
    margin: 0 auto;
    margin-top: 23px;
}

#whats-new .btn-primary i {
    margin-left: 100px;
}

#topics {
    background-color: #F2FAFD;
    padding-top: 40px;
    padding-bottom: 40px;
}

.topics {
    margin-left: 100px;
    margin-top: 30px;
}

.topic {
    background: #fff;
    float: left;
    width: 26%;
    margin: 20px 20px;
    box-shadow: 0px 0px 15px #ccc;
}

.topic>div {
    padding: 25px 30px;
}

.topic .title {
    font-weight: bold;
    font-size: 18px;
}

a.btn.btn-primary.btn-square {
    border-radius: 0px;
}

.topic a.btn.btn-primary.btn-square {
    width: 100%;
}

#contact {
    background-image: url('../images/contact-bg.PNG');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

#contact a.btn-primary {
    width: 250px;
    margin-top: 10px;
}

.contact {
    background: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

.contact p:not(.divider) {
    margin-top: 10px;
}

.footer-1 {
    background-color: #057980;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-logo {
    width: 160px;
}

.footer-text {
    color: #fff;
    font-size: 14px;
    padding-top: 25px;
}

.sidebar {
    width: 10%;
    background: #F2FAFD;
    float: left;
    text-align: center;
    /* position: fixed; */
    /* right: 0; */
}

.sidebar .side-title {
    background: #025E64;
    color: #fff;
    height: 80px;
    padding: 25px 0px;
    text-align: center;
    font-weight: bold;
}

.sidebar .side-title-2 {
    background: #1C689C;
    color: #fff;
    margin-top: 20px;
    padding: 9px 0;
    font-size: 16px;
}

.sidebar .btn-warning {
    background: #FCA104;
    width: 80%;
    margin: 15px;
    border-radius: 0px;
    border: 4px solid #F6CD80;
    color: #fff;
    margin-top: 22px;
    padding: 7px 0px;
    margin-bottom: 7px;
}

.sidebar .btn-link {
    color: #00bfbf;
    background-color: transparent;
    width: 100%;
    text-decoration: underline;
    font-size: 16px;
}

.sidebar .btn-link i {
    margin-left: 25px;
}

.sidebar .sidebar-links {
    list-style: none;
    text-align: left;
    padding: 0;
}

.sidebar .sidebar-links li {
    border-bottom: 1px solid #ddd;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
}

.sidebar .sidebar-links li a i {
    color: #0198B2;
    margin-right: 5px;
    font-size: 12px;
}

.sidebar .sidebar-links li a i.fa-chevron-right {
    margin-left: 0px;
    font-size: 10px;
    float: right;
    margin-top: 8px;
}

.sidebar .sidebar-logo {
    width: 120px;
    margin: 150px 0px;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    width: 50px;
    top: 0;
    background: #057980;
    right: 0;
    padding: 16px;
    color: #fff;
}

.sidebar-toggle i {
    margin-right: 10px;
}

.sidebar-toggle span {
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-right: 20px solid #057980;
    position: absolute;
    left: -20px;
    top: 0px;
}

.sidebar-close {
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 20px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    color: #ffffff;
}


/* Responsive CSS */

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    .sub-menu {
        margin-right: 20px;
    }
    .nav-menu a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .sub-menu {
        display: none;
    }
    a.logo img {
        width: 180px;
        margin-left: 30px;
    }
    ul.whats-new li {
        height: 115px;
    }
    ul.whats-new li .detail {
        margin-left: 0px;
        float: left;
        margin-top: 10px;
    }
    .topic {
        width: 100%;
        margin: 20px 0px;
    }
    .topics {
        margin-left: 0px;
    }
    .contact {
        margin: 0px 10px;
    }
    #hero h1 {
        font-size: 3.5rem;
    }
    #hero h1 p {
        padding: 0 20px;
    }
    .content {
        width: 100%;
    }
    .sidebar {
        display: none;
        position: absolute;
        right: 0;
        width: auto;
        z-index: 9999;
    }
    .sidebar-toggle {
        display: block;
    }
    .sidebar-close {
        display: block;
    }
}

